<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwon.smb.movie.MovieMapper">


	<select id="getMovies" 
		resultType="com.kwon.smb.movie.Movie">
		<!-- select * from movies where movieid between 1 and 10 -->

select movies.movieid,movies.title,movies.releaseday,movies.genreid,movies.img,ROUND(SUM(rating.rating)/COUNT(rating.rating),2) AS "avgrating"
from movies,rating where movies.movieid = rating.movieid group by rating.movieid having COUNT(rating.rating)&gt;100 order by avgrating DESC limit 200;
	</select>
	<select id="getGenre" 
		resultType="com.kwon.smb.movie.Genre">
		select * from genre
	</select>
	<select id="searchMovies"
		parameterType="com.kwon.smb.movie.Movie" 
		resultType="com.kwon.smb.movie.Movie">
		select movies.movieid,movies.title,movies.releaseday,movies.genreid,movies.img,ROUND(SUM(rating.rating)/COUNT(rating.rating),2) AS "avgrating"
from movies,rating where movies.movieid = rating.movieid group by rating.movieid having movies.title like concat('%',#{title},'%') order by avgrating DESC
		
	</select>
</mapper>















